@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input{
    min-width: 70%;
    height: 3rem;

    padding: 0 .5rem 0 .5rem;    

    border:2px solid #3d3d3d;
    border-radius: 0.375rem;
    outline: none;

    background-color:transparent;

    color:#fff;
}

.input:disabled{
    background-color: transparent;
    border: 1px solid #37996b ;
}

.input:focus-within{
    outline:2px solid #37996b;
    outline-offset: 2px;
}

.input::placeholder{
    font-size: 1rem;    
    font-weight: medium;
    letter-spacing: 1px;
    color:#89cca9;
}



.glassmorphism { 
    background: rgb(28, 28, 28,0.9); 
}



.bg-login{
    background-image:url("../public/login-icon.svg");
    background-size: 80% 80%;
}

::-webkit-scrollbar {
    width: 0;
  }
  
  